[Unit]
Description=Github LaTeX builder
After=network.target

[Service]
Type=simple
User=latexbuilder
Group=latexbuilder
ExecStart=/srv/latexbuilder/LatexBuilder/VIRTUAL/bin/python server.py -i 0.0.0.0 -p 9494
WorkingDirectory=/srv/latexbuilder/LatexBuilder
ReadOnlyDirectories=/
ReadWriteDirectories=/srv/latexbuilder/LatexBuilder
NoNewPrivileges=true
ProtectSystem=full
TimeoutStartSec=2
TimeoutStopSec=5
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
